@import url(fonts/fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}
body{
    background: url(img/bg.png) #f9f;
}
/* Header */
header{
    background: linear-gradient(45deg, #7700ff99, #fed6e3dd);
    margin: auto;
    width: 80%;
    font-size: 1.3em;
    border: 2px #aaa solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
h1{
    font-weight: lighter;
    font-size: 80px;
    font-family: 'Courgette';
    padding: 10px;
    text-align: center;
    color: rgb(140, 0, 255);
}
/*nav*/
nav>ul>li{
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    list-style: none;
}
/*временно*/
nav ul li:hover{
    margin: 0;
}
nav ul li ul li:hover{
    padding: 0;
    font-size: 28px;
    background-color: blueviolet;
}


nav ul li{
    display: inline-block;
}
.html, .css{
    width: 100%;
    display: none;
    float: left;
}
nav ul li ul li{
    padding: 2px 0;
    margin: 2px 0;
    box-sizing: border-box;
    width: 100%;
}


nav ul li:hover > ul {
    display:block;
}
/* временно */
nav a{
    border-bottom: 1px rgb(177, 113, 8) solid;
    padding: 0 20px;
    text-decoration: none;
    color:black
}
.html{
    column-count:3;
}
.css{
    column-count: 2;
}
/* Main */

main{
    box-shadow: 8px 8px 9px #000a,
                -8px -8px 9px #0003;
    border-radius: 5px 5px 10px 10px;
    margin-top: 40px;
    box-sizing: border-box;
    min-height: 900px;
    padding: 20px;
}
/* main */
main{
    background-color: #fdf;
    border: 2px solid #444;
    margin: 20px auto;
    width: 80%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main>p{
    margin: 20px;
}
aside{
    margin-top: 100px;
    float:right
}
/* main bar */
main .bar{
    margin: 30px 0;
    width: 100%;
    height: auto;
    display: block;
}
.bar a{
    display: inline-block;
    width: calc(100%/3);
}
.bar figure div{
    background-repeat: no-repeat;
    background-size:contain;
    padding-top: 100%;
}
.bar figure.study div{
    background-image: url(img/teacher.png);
}
.bar figure.tests div{
    background-image: url(img/student.png);
}
.bar figure.helper div{
    background-image: url(img/book.png);
}
.bar figure figcaption{
    color:#8f00ff;
    font-size: 36px;
    font-family: 'Morning Breeze';
    text-align: center;
}
.bar figure:hover{
    transform: scale(1.2);
}
/*
*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
}
li{
    list-style: none;
}
nav{
    background-color: aqua;
}
nav>ul>li:hover>.tegs{
    display: inline-block;
}
.tegs{
    width: 100%;
    display: none;
}
.tegs>li{
    background-color: aquamarine;
    width: 90px;
    padding: 20px;
    display: inline-block;
}
.html:hover>.tegs{
    display: inline-block;
}
main{
    margin: 20 auto;
    width: 80%;
}
.html,.css{
    display: inline-block;
    width: 49%;
}*/

